<h2>Import {{appName | titlecase}} Component Into Angular App</h2>
<ol class="how-to">
	<li>copy the folder content into new folder inside your root project folder.</li>
	<li>add <code><span class="tag">schemas: [CUSTOM_ELEMENT_SCHEMA]</span></code>
		<br>in your <span class="filename">app.module.ts</span>
	</li>
	<li> inside <span class="filename">angular.json</span> add to your project assets array:
		<pre class="code">
{{'{'}}
  <span class="key">"input"</span>: <span class="value">"&lt;name_of_folder_from_step1&gt;/assets"</span>,
  <span class="key">"output"</span>: <span class="value">"/assets"</span>
{{'}'}},
{{'{'}}
  <span class="key">"input"</span>: <span class="value">"&lt;name_of_folder_from_step1&gt;/res"</span>,
  <span class="key">"output"</span>: <span class="value">"/res"</span>
{{'}'}}</pre>
	</li>
	<li> inside <span class="filename">angular.json</span> add to your project scripts array: <br>
		<code><span class="value">"&lt;name_of_folder_from_step1&gt;/{{elementName}}.min.js"</span></code>
	</li>
	<li> you can use <code class="one-line"><span class="tag">&lt;{{elementName}}&gt;</span></code> anywhere in your app.</li>
</ol>
