:host {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
	align-items: flex-start;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.download, h4 {
	align-self: center
}

p {
	margin-right: 10px;
}
