<h2>You can edit the default configuration:</h2>
<div *ngFor="let config of appConfig">
	<p>{{config.hint}}</p>
	<ng-container [ngSwitch]="config.type">
		<app-number-edit
			[id]="config.id"
			[form]="formGroup"
			*ngSwitchCase="'number'"
		[value]="config.defaultValue"></app-number-edit>
		<app-boolean-edit
			[id]="config.id"
			[form]="formGroup"
			[value]="config.defaultValue"
			*ngSwitchCase="'boolean'"></app-boolean-edit>
		<app-enum-edit
			[id]="config.id"
			[form]="formGroup"
			[placeholder]="config.placeholder"
			[values]="config.enum"
			[value]="config.defaultValue"
			*ngSwitchCase="'enum'"></app-enum-edit>
		<app-string-edit
			[id]="config.id"
			[form]="formGroup"
			[placeholder]="config.placeholder"
			[value]="config.defaultValue"
			*ngSwitchCase="'string'"></app-string-edit>
	</ng-container>
</div>
<div class="download">
	<mat-icon style="cursor: pointer"
			  mat-raised-button
			  color="accent"
			  (click)="downloadComponent()">archive</mat-icon>
	<mat-label>Click to download component</mat-label>
</div>
	<!--<button mat-raised-button (click)="downloadComponent()">Click to download component</button>-->
