:host {
	display: flex;
	flex-direction: column;
	width: 500px;
	max-height: 55vh;
	margin: 10px auto;
	align-items: flex-start;
	box-shadow: 2px 3px 3px 1px #e6e6e6;
	overflow-y: auto;

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px;

		mat-label {
			margin-right: 10px;
		}
	}
}
